{
  "branch": "main",
  "tagformat": "releases/uploader-ui/v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "npmPublish": false
    }],
    ["@semantic-release/github", {
      "assets": [
        {
          "path": "out/make/zip/darwin/x64/*.zip",
          "label": "Desktop App (macOS)"
        }
      ]
    }]
  ]
}