{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {
          "path": "out/make/zip/darwin/x64/*.zip",
          "label": "macOS"
        }
      ]
    }]
  ]
}