{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {
          "path": "out/**/*.zip",
          "label": "macOS App"
        }
      ]
    }],
    ["@semantic-release/git", {
      "assets": ["out/**/*.zip"]
    }],
    ["@semantic-release/npm", {
      "npmPublish": false
    }]
  ]
}